{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>我的 - 购物车</title>
{% endblock title %}

{% block content %}
    <head>


        <script src="{% static 'shopping/js/csrftoken.js' %}"></script>
        <script>
            var mediaPath = 'https://res.vmallres.com/pimages/';
            var b2cDomain = 'https://www.vmall.com';
            var openApiDomain = 'https://openapi.vmall.com';
            var accountCenterUrl = 'https://hwid1.vmall.com/CAS/portal/userCenter/index.html?reqClientType=26';
            var cdnPath = 'https://res.vmallres.com/20190808';
            var dapDomain = 'https://dap.vmall.com';
            document.write("<!--[if lt IE 9]><script type='text/javascript' src='" + cdnPath + "/staticpc/base.js' ><\/script><![endif]-->");

            var csrftoken = '';
            var target = document.getElementsByTagName('script')[0] || document.head;
            var script = document.createElement('script');
            script.src = openApiDomain + '/csrftoken.js?' + Math.random();
            target.parentNode.insertBefore(script, target);
        </script>
        <!--[if lt IE 9]><script type='text/javascript' src='https://res.vmallres.com/20190808/staticpc/base.js' ></script>
    <![endif]-->
        <link href="{% static 'shopping/css/app.css' %}" rel="stylesheet">
    </head>

    <body>
    <div id="app">
        <div class="sc">

            <div class="layout "><!----> <!---->
                <div class="hr-20"></div>
                <div class="sc-list">
                    <div class="sc-pro-title clearfix"><label class="checkbox"><input readonly="readonly"
                                                                                      class="vam checked" value="true">
                        全选</label>
                        <ul class="clearfix">
                            <li>商品</li>
                            <li>单价</li>
                            <li>数量</li>
                            <li>小计</li>
                            <li>操作</li>
                        </ul>
                    </div>
                    <form id="cart-form" autocomplete="off" method="get">
                        <div class="sc-pro">
                            <div>
                                <div class="sc-pro-list clearfix"><label class="checkbox"><input readonly="readonly"
                                                                                                 class="vam checked"
                                                                                                 value="true"> </label>
                                    <div class="sc-pro-area">
                                        <div class="sc-pro-main clearfix"><a
                                                href="https://www.vmall.com/product/10086225607276.html#10086757941174"
                                                target="_blank" class="p-img"><img
                                                src="{% static 'images/428_428_1561518789796mp.png' %}"
                                                alt="HUAWEI P30 麒麟980 超感光徕卡三摄 屏内指纹 双景录像 6GB+128GB 全网通版（天空之境）"></a>
                                            <div class="tips-1 p-stock-tips" style="display: none;">限购件</div>
                                            <ul>
                                                <li>
                                                    <a href="https://www.vmall.com/product/10086225607276.html#10086757941174"
                                                       target="_blank"
                                                       title="HUAWEI P30 麒麟980 超感光徕卡三摄 屏内指纹 双景录像 6GB+128GB 全网通版（天空之境）"
                                                       class="p-name"><!---->
                                                        HUAWEI P30 麒麟980 超感光徕卡三摄 屏内指纹 双景录像 6GB+128GB 全网通版（天空之境）</a>
                                                    <!----> <!----></li>
                                                <li>
                                                    <div class="p-price"><span>¥&nbsp;3688.00</span> <!----></div>
                                                </li>
                                                <li>
                                                    <div class="p-stock">
                                                        <div class="p-stock-area"><input type="number"
                                                                                         class="p-stock-text" value="1">
                                                            <p class="p-stock-btn"><a href="javascript:;"
                                                                                      class="disabled">−</a> <a
                                                                    href="javascript:;" class="">+</a></p></div>
                                                    </div>
                                                </li>
                                                <li class="p-price-total">¥&nbsp;3688.00
                                                    <!----></li>
                                                <li><a href="javascript:;" seed="cart-item-del" class="p-del">删除</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div>
                                <div class="sc-pro-list clearfix"><label class="checkbox"><input readonly="readonly"
                                                                                                 class="vam checked"
                                                                                                 value="true"> </label>
                                    <div class="sc-pro-area">
                                        <div class="sc-pro-main clearfix"><a
                                                href="https://www.vmall.com/product/10086102942203.html#10086407020352"
                                                target="_blank" class="p-img"><img
                                                src="{% static 'images/428_428_1555464685019mp.png' %}"
                                                alt="HUAWEI P30 Pro 麒麟980 超感光徕卡四摄 屏内指纹 双景录像 8GB+128GB 全网通版（天空之境）"></a>
                                            <div class="tips-1 p-stock-tips" style="display: none;">限购件</div>
                                            <ul>
                                                <li>
                                                    <a href="https://www.vmall.com/product/10086102942203.html#10086407020352"
                                                       target="_blank"
                                                       title="HUAWEI P30 Pro 麒麟980 超感光徕卡四摄 屏内指纹 双景录像 8GB+128GB 全网通版（天空之境）"
                                                       class="p-name"><!---->
                                                        HUAWEI P30 Pro 麒麟980 超感光徕卡四摄 屏内指纹 双景录像 8GB+128GB 全网通版（天空之境）</a>
                                                    <!----> <!----></li>
                                                <li>
                                                    <div class="p-price"><span>¥&nbsp;4988.00</span> <!----></div>
                                                </li>
                                                <li>
                                                    <div class="p-stock">
                                                        <div class="p-stock-area"><input type="number"
                                                                                         class="p-stock-text" value="1">
                                                            <p class="p-stock-btn"><a href="javascript:;"
                                                                                      class="disabled">−</a> <a
                                                                    href="javascript:;" class="">+</a></p></div>
                                                    </div>
                                                </li>
                                                <li class="p-price-total">¥&nbsp;4988.00
                                                    <!----></li>
                                                <li><a href="javascript:;" seed="cart-item-del" class="p-del">删除</a>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div id="total_tool"></div>
                <div class="sc-total-fixed">
                    <div class="sc-total-tool layout clearfix ">
                        <div class="sc-total-control"><label class="checkbox"><input readonly="readonly"
                                                                                     class="vam checked" value="true">
                            全选</label> <a href="javascript:;">删除</a></div>
                        <div class="sc-total-btn "><a href="javascript:;">立即结算</a></div>
                        <div class="sc-total-price"><p><label>总计：</label> <span>¥&nbsp; 8676.00</span>
                            <em><b>不含运费</b></em></p>
                            <div class="total-choose">已选择
                                <em>2</em>件商品，优惠：
                                <span>¥&nbsp;0.00</span></div>
                        </div>
                    </div>
                </div>
                <div id="invalidItemList" style="display: none;">
                    <div class="box-errors"><span>以下商品暂不可购买</span></div>
                    <div class="order-no-list"></div>
                </div> <!----></div>
            <div data-v-29dd7e86="">
                <div data-v-29dd7e86="" class="slogan-container">
                    <div data-v-29dd7e86="" class="slogan">
                        <ul data-v-29dd7e86="">
                            <li data-v-29dd7e86="" class="s1"><a data-v-29dd7e86="" target="_blank"
                                                                 href="https://www.vmall.com/help/faq-934.html"
                                                                 rel="nofollow"><i data-v-29dd7e86=""></i>百强企业&nbsp;品质保证</a>
                            </li>
                            <li data-v-29dd7e86="" class="s2"><a data-v-29dd7e86="" target="_blank"
                                                                 href="https://www.vmall.com/help/faq-834.html"
                                                                 rel="nofollow"><i data-v-29dd7e86=""></i>7天退货&nbsp;15天换货</a>
                            </li>
                            <li data-v-29dd7e86="" class="s3"><a data-v-29dd7e86="" target="_blank"
                                                                 href="https://www.vmall.com/help/faq-4367.html"
                                                                 rel="nofollow"><i data-v-29dd7e86=""></i> <span
                                    data-v-29dd7e86="">48元起免运费</span></a></li>
                            <li data-v-29dd7e86="" class="s4"><a data-v-29dd7e86="" target="_blank"
                                                                 href="http://consumer.huawei.com/cn/support/service-center/index.htm"
                                                                 rel="nofollow"><i
                                    data-v-29dd7e86=""></i>1000家维修网点&nbsp;全国联保</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-v-29dd7e86="" class="service-container">
                    <div data-v-29dd7e86="" class="service">
                        <div data-v-29dd7e86="" class="service-l fl">
                            <dl data-v-29dd7e86="" class="s1">
                                <dt data-v-29dd7e86=""><p data-v-29dd7e86="" class="title">购物相关</p></dt>
                                <dd data-v-29dd7e86="">
                                    <ol data-v-29dd7e86="">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/help/faq-4355.html"
                                                                  rel="nofollow">购物指南</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/help/faq-4367.html"
                                                                  rel="nofollow">配送方式</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/help/faq-4357.html"
                                                                  rel="nofollow">支付方式</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/help/category-16.html"
                                                                  rel="nofollow">常见问题</a></li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl data-v-29dd7e86="" class="s2">
                                <dt data-v-29dd7e86=""><p data-v-29dd7e86="" class="title">保修与退换货</p></dt>
                                <dd data-v-29dd7e86="">
                                    <ol data-v-29dd7e86="">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/help/faq-833.html"
                                                                  rel="nofollow">保修政策</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/help/faq-834.html"
                                                                  rel="nofollow">退换货政策</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/help/faq-5259.html"
                                                                  rel="nofollow">退换货流程</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="http://consumer.huawei.com/cn/support/warranty-query/index.htm"
                                                                  rel="nofollow">保修状态查询</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="http://c-ver.huawei.com/web/" rel="nofollow">配件防伪查询</a>
                                        </li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl data-v-29dd7e86="" class="s3">
                                <dt data-v-29dd7e86=""><p data-v-29dd7e86="" class="title">维修与技术支持</p></dt>
                                <dd data-v-29dd7e86="">
                                    <ol data-v-29dd7e86="">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="http://consumer.huawei.com/cn/support/service-center/index.htm"
                                                                  rel="nofollow">售后网点</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="http://consumer.huawei.com/cn/support/reservation/index.htm"
                                                                  rel="nofollow">预约维修</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="http://consumer.huawei.com/cn/support/express-repair/index.htm"
                                                                  rel="nofollow">手机寄修</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="http://consumer.huawei.com/cn/support/sparepart-price/index.htm"
                                                                  rel="nofollow">备件价格查询</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="http://consumer.huawei.com/cn/support/door-to-door-service/"
                                                                  rel="nofollow">上门服务</a></li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl data-v-29dd7e86="" class="s4">
                                <dt data-v-29dd7e86=""><p data-v-29dd7e86="" class="title">特色服务</p></dt>
                                <dd data-v-29dd7e86="">
                                    <ol data-v-29dd7e86="">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://consumer.huawei.com/cn/support/distinguish/"
                                                                  rel="nofollow">防伪查询</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/order/tcsProductIndex"
                                                                  rel="nofollow">补购保障</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/recycle" rel="nofollow">以旧换新</a>
                                        </li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/product/10086344499475.html#10086230774569"
                                                                  rel="nofollow">礼品包装</a></li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl data-v-29dd7e86="" class="s5">
                                <dt data-v-29dd7e86=""><p data-v-29dd7e86="" class="title">关于我们</p></dt>
                                <dd data-v-29dd7e86="">
                                    <ol data-v-29dd7e86="">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.huawei.com/cn/about-huawei/corporate-information"
                                                                  rel="nofollow">公司介绍</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/help/faq-939.html"
                                                                  rel="nofollow">华为商城简介</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/offshop/hwshoplist"
                                                                  rel="nofollow">华为线下门店</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/offshop/shoplist"
                                                                  rel="nofollow">荣耀线下门店</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" target="_blank"
                                                                  href="https://www.vmall.com/job"
                                                                  rel="nofollow">诚征英才</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" href="javascript:;" title="意见反馈">意见反馈</a>
                                        </li>
                                    </ol>
                                </dd>
                            </dl>
                            <dl data-v-29dd7e86="" id="footerS6Swiper" class="s6 swiper-container">
                                <dt data-v-29dd7e86="" class="relative"><p data-v-29dd7e86="" class="title">友情链接</p>
                                    <p data-v-29dd7e86="" class="button"><span data-v-29dd7e86=""
                                                                               class="btn btn-prev disabled"> &lt; </span>
                                        <span data-v-29dd7e86="" class="btn btn-next"> &gt; </span></p></dt>
                                <dd data-v-29dd7e86="" class="swiper-wrapper service-list clearfix"
                                    style="height: 110px; width: 1380px;">
                                    <ol data-v-29dd7e86="" class="swiper-slide swiper-slide-visible swiper-slide-active"
                                        style="width: 153.333px; height: 110px;">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">华为集团</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86=""
                                                                  href="https://consumer.huawei.com/cn/" target="_blank"
                                                                  textvalue="华为CBG官网">华为CBG官网</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">荣耀官网</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" textvalue="花粉俱乐部">花粉俱乐部</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86=""
                                                                  href="https://www.vmall.com/shopdc/sitemap.html"
                                                                  target="_blank">网站地图</a><br data-v-29dd7e86=""></li>
                                    </ol>
                                    <ol data-v-29dd7e86="" class="swiper-slide"
                                        style="width: 153.333px; height: 110px;">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">爱旅官网</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">万表网</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">中商情报网</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">刷机精灵</a></li>
                                    </ol>
                                    <ol data-v-29dd7e86="" class="swiper-slide"
                                        style="width: 153.333px; height: 110px;">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" textvalue="华为手机">华为手机</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">智能电视</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">UC浏览器</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">中关村商城</a></li>
                                    </ol>
                                    <ol data-v-29dd7e86="" class="swiper-slide"
                                        style="width: 153.333px; height: 110px;">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">酷狗音乐</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">百信手机网</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">卡宝宝网</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" textvalue="多特软件下载">多特软件下载</a></li>
                                    </ol>
                                    <ol data-v-29dd7e86="" class="swiper-slide"
                                        style="width: 153.333px; height: 110px;">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">同步助手</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">蜂鸟摄影网</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">奇珀论坛</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">家具商城</a></li>
                                    </ol>
                                    <ol data-v-29dd7e86="" class="swiper-slide"
                                        style="width: 153.333px; height: 110px;">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">欧宝丽珠宝</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">亿智蘑菇</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">安卓市场</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">阿里巴巴生意经</a></li>
                                    </ol>
                                    <ol data-v-29dd7e86="" class="swiper-slide"
                                        style="width: 153.333px; height: 110px;">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">手机大全</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">安卓软件园</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">智机论坛</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">电子产品世界</a></li>
                                    </ol>
                                    <ol data-v-29dd7e86="" class="swiper-slide"
                                        style="width: 153.333px; height: 110px;">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">历趣网</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">网购返利</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" title="Apple110">Apple110</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="" textvalue="91手机门户网">91手机门户网</a>
                                        </li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">移动叔叔</a></li>
                                    </ol>
                                    <ol data-v-29dd7e86="" class="swiper-slide"
                                        style="width: 153.333px; height: 110px;">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">荣耀Magic</a></li>
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">携程租车</a></li>
                                    </ol>
                                </dd>
                            </dl>
                        </div>
                        <div data-v-29dd7e86="" class="service-r fl">
                            <dl data-v-29dd7e86="" class="s7">
                                <dt data-v-29dd7e86=""><p data-v-29dd7e86="" class="title">400-088-6888</p></dt>
                                <dd data-v-29dd7e86="">
                                    <ol data-v-29dd7e86="">
                                        <li data-v-29dd7e86=""><a data-v-29dd7e86="">7x24小时客服热线（仅收市话费）</a></li>
                                    </ol>
                                </dd>
                                <dd data-v-29dd7e86=""><a data-v-29dd7e86="" rel="nofollow"
                                                          href="https://celia.consumer.huawei.com/vmall/#/?businessUUID=902d812b8bdb44e089e34544fb5d77e2&amp;k=1&amp;from=06&amp;remark=&amp;enterurl=https%3A%2F%2Fwww.vmall.com%2Fcart2%3Ft%3D15688742852711568874450384"
                                                          target="_blank" class="service-btn btn-line-primary"><i
                                        data-v-29dd7e86=""></i> 在线客服</a></dd>
                            </dl>
                            <div data-v-29dd7e86="" class="service-code clearfix"><h2 data-v-29dd7e86="">关注Vmall：</h2>
                                <ul data-v-29dd7e86="" class="clearfix">
                                    <li data-v-29dd7e86="" class="iconfont"><a data-v-29dd7e86=""
                                                                               href="javascript:;"></a>
                                        <div data-v-29dd7e86="" class="service-code-img"><img data-v-29dd7e86=""
                                                                                              src="{% static 'images/20181116180507506.jpg' %}">
                                        </div>
                                    </li>
                                    <li data-v-29dd7e86="" class="iconfont"><a data-v-29dd7e86="" target="_blank"
                                                                               href="https://www.toutiao.com/c/user/52373534151/#mid=52586950033"
                                                                               rel="nofollow"></a></li>
                                    <li data-v-29dd7e86="" class="iconfont"><a data-v-29dd7e86="" target="_blank"
                                                                               href="https://weibo.com/shophuawei"
                                                                               rel="nofollow"></a></li>
                                    <li data-v-29dd7e86="" class="iconfont"><a data-v-29dd7e86="" target="_blank"
                                                                               href="https://club.huawei.com/"
                                                                               rel="nofollow"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-v-29dd7e86="" class="footer-container">
                    <div data-v-29dd7e86="" class="footer">
                        <div data-v-29dd7e86="" class="footer-warrant-area clearfix"><p data-v-29dd7e86=""
                                                                                        class="footer-warrant-logo fl">
                            <a data-v-29dd7e86="" href="https://www.vmall.com/"><img data-v-29dd7e86=""
                                                                                     src="{% static 'images/wLelYbpMVWbj9Xpaa5Fk.png' %}"></a>
                        </p>
                            <div data-v-29dd7e86="" class="fl">
                                <ul data-v-29dd7e86="" class="footer-warrant-link">
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86=""
                                                              href="https://www.huawei.com/cn/">华为集团</a></li>
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86=""
                                                              href="https://consumer.huawei.com/cn/">华为CBG官网</a>
                                    </li>
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86="" href="http://www.honor.cn/">荣耀官网</a>
                                    </li>
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86=""
                                                              href="https://club.huawei.com/">花粉俱乐部</a></li>
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86="" href="http://appstore.huawei.com/">华为应用市场</a>
                                    </li>
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86=""
                                                              href="https://emui.huawei.com/cn/">EMUI</a></li>
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86="" href="https://cloud.huawei.com/">华为终端云空间</a>
                                    </li>
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86=""
                                                              href="https://developer.huawei.com/cn/">开发者联盟</a></li>
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86="" href="https://m.vmall.com/">华为商城手机版</a>
                                    </li>
                                    <li data-v-29dd7e86=""><a data-v-29dd7e86=""
                                                              href="https://www.vmall.com/shopdc/sitemap.html">网站地图</a>
                                    </li>
                                </ul>
                                <a data-v-29dd7e86="" href="https://www.vmall.com/help/faq-2635.html" target="_blank"
                                   title="隐私声明" rel="nofollow">隐私声明</a> <a data-v-29dd7e86=""
                                                                           href="https://www.vmall.com/help/faq-778.html"
                                                                           target="_blank" title="服务协议" rel="nofollow">
                                服务协议</a> <a data-v-29dd7e86="" href="https://www.vmall.com/help/faq-11810.html"
                                            target="_blank" title="COOKIES" rel="nofollow"> COOKIES</a> Copyright ©
                                2012-2019 华为终端有限公司 版权所有 <a data-v-29dd7e86="" target="_blank"
                                                           href="http://beian.miit.gov.cn/"
                                                           rel="nofollow">粤ICP备19015064号-4</a><em
                                    data-v-29dd7e86="">|</em><a data-v-29dd7e86=""
                                                                href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44190002003939"
                                                                target="_blank" rel="nofollow">粤公网安备 44190002003939号</a><em
                                    data-v-29dd7e86="">|</em>备案主体编号：44201919072182
                            </div>
                            <p data-v-29dd7e86="" class="fr footer-warrant-img"><a data-v-29dd7e86=""
                                                                                   href="http://privacy.truste.com/privacy-seal/validation?rid=81be9ca0-c821-4e2c-ad4b-ff7cff98f75f&amp;amp;lang=zh-cn"
                                                                                   target="_blank" rel="nofollow"
                                                                                   class="fl"><img data-v-29dd7e86=""
                                                                                                   src="{% static 'images/20180522101715775.jpg' %}"
                                                                                                   alt="TRUSTe隐私认证"
                                                                                                   title="TRUSTe隐私认证"></a><a
                                    data-v-29dd7e86=""
                                    href="https://res.vmallres.com/pimages//sale/2018-06/20180615181402966.jpg"
                                    target="_blank" rel="nofollow" class="fl"><img data-v-29dd7e86=""
                                                                                   src="{% static 'images/20160226162415360.png' %}"
                                                                                   alt="电子营业执照" title="电子营业执照"></a></p>
                        </div>
                    </div>
                </div> <!----></div>
            <div data-v-469fd7a3="" style="display: none;">
                <div data-v-469fd7a3="" class="ol_box_mask"
                     style="visibility: visible; width: 100%; height: 100%; z-index: 500;"></div>
                <div data-v-469fd7a3="" class="ol_box_4"
                     style="visibility: visible; position: fixed; top: 50%; margin-top: -250px; left: 50%; margin-left: -350px; z-index: 500; width: 700px;">
                    <div data-v-469fd7a3="" class="box-ct">
                        <div data-v-469fd7a3="" class="box-header"><a data-v-469fd7a3="" title="关闭"
                                                                      class="box-close"></a> <span data-v-469fd7a3=""
                                                                                                   class="box-title">- 领取优惠券 -</span>
                        </div>
                        <div data-v-469fd7a3="" class="box-content">
                            <div data-v-469fd7a3="" class="product-roll">
                                <div data-v-469fd7a3="" class="product-roll-list">
                                    <ul data-v-469fd7a3="" class="clearfix"></ul>
                                </div>
                                <p data-v-469fd7a3="" class=""><span data-v-469fd7a3=""></span> <!----> <!----> <!---->
                                    <!----></p></div>
                        </div>
                    </div>
                </div>
            </div>


            <script type="text/javascript">!function (e) {
                var r = window.webpackJsonp;
                window.webpackJsonp = function (n, c, a) {
                    for (var i, u, s, f = 0, l = []; f < n.length; f++) u = n[f], t[u] && l.push(t[u][0]), t[u] = 0;
                    for (i in c) Object.prototype.hasOwnProperty.call(c, i) && (e[i] = c[i]);
                    for (r && r(n, c, a); l.length;) l.shift()();
                    if (a) for (f = 0; f < a.length; f++) s = o(o.s = a[f]);
                    return s
                };
                var n = {}, t = {3: 0};

                function o(r) {
                    if (n[r]) return n[r].exports;
                    var t = n[r] = {i: r, l: !1, exports: {}};
                    return e[r].call(t.exports, t, t.exports, o), t.l = !0, t.exports
                }

                o.e = function (e) {
                    var r = t[e];
                    if (0 === r) return new Promise(function (e) {
                        e()
                    });
                    if (r) return r[2];
                    var n = new Promise(function (n, o) {
                        r = t[e] = [n, o]
                    });
                    r[2] = n;
                    var c = document.getElementsByTagName("head")[0], a = document.createElement("script");
                    a.type = "text/javascript", a.charset = "utf-8", a.async = !0, a.timeout = 12e4, o.nc && a.setAttribute("nonce", o.nc), a.src = o.p + "staticpc/js/" + e + "." + {0: "6653392"}[e] + ".js";
                    var i = setTimeout(u, 12e4);

                    function u() {
                        a.onerror = a.onload = null, clearTimeout(i);
                        var r = t[e];
                        0 !== r && (r && r[1](new Error("Loading chunk " + e + " failed.")), t[e] = void 0)
                    }

                    return a.onerror = a.onload = u, c.appendChild(a), n
                }, o.m = e, o.c = n, o.d = function (e, r, n) {
                    o.o(e, r) || Object.defineProperty(e, r, {configurable: !1, enumerable: !0, get: n})
                }, o.n = function (e) {
                    var r = e && e.__esModule ? function () {
                        return e.default
                    } : function () {
                        return e
                    };
                    return o.d(r, "a", r), r
                }, o.o = function (e, r) {
                    return Object.prototype.hasOwnProperty.call(e, r)
                }, o.p = "https://res.vmallres.com/20190808/", o.oe = function (e) {
                    throw console.error(e), e
                }
            }([]);</script>
            <script type="text/javascript" src="{% static 'shopping/js/vendor.js' %}"></script>
            <script type="text/javascript" src="{% static 'shopping/js/app.js' %}"></script>
            <script src="{% static 'shopping/js/hianalytics.js' %}" type="text/javascript"></script>
            <script src="{% static 'shopping/js/h.js' %}" type="text/javascript"></script>
            <iframe style="display: none;" src="javascript:false"></iframe>
            <script src="{% static 'shopping/js/dmpa-min.js' %}" async="" id="dmpa"></script>
            <script src="{% static 'shopping/js/mvmallcn-min.js' %}" type="text/javascript"></script>


{% endblock content %}