{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>华为商城 - 智能穿戴</title>
{% endblock title %}
{% block content %}

    <div class="hr-10"></div>
    <div class="g">
        <!--面包屑 -->
        <div class="breadcrumb-area fcn"><a href="{% url 'app:index' %}" title="首页">首页</a>&nbsp;&gt;&nbsp;<a
                href="{% url 'app:watch' %}" title="智能穿戴">智能穿戴</a>&nbsp;&nbsp;
        </div>
    </div>
    <div class="hr-10"></div>
    <div class="layout">


        <div class="hr-20"></div>
    </div>


    <div class="layout">
        <!-- 20140726-频道-列表-start -->
        <div class="channel-list">
            <!-- 20140727-商品列表-start -->
            <div class="pro-list clearfix">
                <ul>
                    <li data-pid="10086916142232" data-scode="2901010009602" data-sname="【订金】华为儿童手表 3S">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086916142232.html"
                                                title="【订金】华为儿童手表 3S"><img alt="华为儿童手表 3s（冰山蓝）"
                                                                           src="{% static 'images/428_428_D6F5C5B6D22964AF9F6F9DFBE41D44C50423B42CE219D9A1mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086916142232.html"
                                   title="【订金】华为儿童手表 3S">
                                    <span>【订金】华为儿童手表 3S</span>
                                    <span class="red">订金50抵100</span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥688</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086916142232.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>0人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <s class="p-tag"><img alt="【订金】华为儿童手表 3s（冰山蓝）"
                                                  src="{% static 'images/aMbqBGUMFAzFS7pPvCsz.png' %}"></s>
                        </div>
                    </li>
                    <li data-pid="10086724204762" data-scode="2901010009102" data-sname="华为儿童手表 3S">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086724204762.html"
                                                title="华为儿童手表 3S"><img alt="华为儿童手表 3s（冰山蓝）"
                                                                       src="{% static 'images/428_428_D6F5C5B6D22964AF9F6F9DFBE41D44C50423B42CE219D9A1mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086724204762.html"
                                   title="华为儿童手表 3S">
                                    <span>华为儿童手表 3S</span>
                                    <span class="red">订金50抵100</span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥688</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a href="https://www.vmall.com/product/10086916142232.html" target="_blank"
                                               class="p-button-an"><span>立即预约</span></a></td>
                                        <td><label class="p-button-score"><span>0人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <s class="p-tag"><img alt="华为儿童手表 3s（冰山蓝）"
                                                  src="{% static 'images/aMbqBGUMFAzFS7pPvCsz.png' %}"></s>
                        </div>
                    </li>
                    <li data-pid="10086972798950" data-scode="2901020014101" data-sname="荣耀手环 5 篮球版">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086972798950.html"
                                                title="荣耀手环 5 篮球版"><img alt="荣耀手环5 篮球版 （海鸥灰）"
                                                                        src="{% static 'images/428_428_F17C5A203ECFA65595D105BA7922A1AA547E4F062399FB44mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086972798950.html"
                                   title="荣耀手环 5 篮球版">
                                    <span>荣耀手环 5 篮球版</span>
                                    <span class="red">新品热卖优惠10元</span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥119</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086972798950.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>543人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <s class="p-tag"><img alt="荣耀手环5 篮球版 （海鸥灰）"
                                                  src="{% static 'images/Wdp2ET5YALDHWUeKjEJ2.png' %}"></s>
                        </div>
                    </li>
                    <li data-pid="10086002364447" data-scode="3102030006401" data-sname="VR计算机连接线">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086002364447.html"
                                                title="VR计算机连接线"><img alt="华为VR计算机连接线"
                                                                      src="{% static 'images/428_428_1553777020128mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086002364447.html"
                                   title="VR计算机连接线">
                                    <span>VR计算机连接线</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥269</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086002364447.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>460人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086783541778" data-scode="2901020013401" data-sname="华为手环 4e 篮球精灵">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086783541778.html"
                                                title="华为手环 4e 篮球精灵"><img alt="华为手环 4e 篮球精灵（椰子灰）"
                                                                          src="{% static 'images/428_428_5B93D612C43541963BFC70FB0DBB53FA4A7D01DD01C80454mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086783541778.html"
                                   title="华为手环 4e 篮球精灵">
                                    <span>华为手环 4e 篮球精灵</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥129</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086783541778.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>1026人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <s class="p-tag"><img alt="华为手环 4e 篮球精灵（椰子灰）14天长续航 50米防水 专业跑姿指导 创新篮球模式"
                                                  src="{% static 'images/sZXxI3S1h1CUQLxPO44K.png' %}"></s>
                        </div>
                    </li>
                    <li data-pid="10086698946208" data-scode="2901020012404" data-sname="荣耀手环 5">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086698946208.html"
                                                title="荣耀手环 5"><img alt="荣耀手环 5 NFC版（陨石黑）"
                                                                    src="{% static 'images/428_428_1562750770679mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086698946208.html"
                                   title="荣耀手环 5">
                                    <span>荣耀手环 5</span>
                                    <span class="red">血氧检测 心脏健康</span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥219</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086698946208.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>14278人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086268042691" data-scode="2901010004802" data-sname="荣耀手表魔法系列">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086268042691.html"
                                                title="荣耀手表魔法系列"><img alt="荣耀手表魔法系列（月光银）"
                                                                      src="{% static 'images/428_428_1540544026021mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086268042691.html"
                                   title="荣耀手表魔法系列">
                                    <span>荣耀手表魔法系列</span>
                                    <span class="red">到手价699起 3期免息</span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥699</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086268042691.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>21231人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086127035863" data-scode="2901010003701" data-sname="HUAWEI WATCH GT">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086127035863.html"
                                                title="HUAWEI WATCH GT"><img alt="HUAWEI WATCH GT 运动款（黑色）"
                                                                             src="{% static 'images/428_428_1543910753321mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086127035863.html"
                                   title="HUAWEI WATCH GT">
                                    <span>HUAWEI WATCH GT</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥1288</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086127035863.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>45746人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086761611038" data-scode="2901020009803" data-sname="华为手环 3 Pro">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086761611038.html"
                                                title="华为手环 3 Pro"><img alt="华为手环 3 Pro（曜石黑）"
                                                                        src="{% static 'images/428_428_1552011301146mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086761611038.html"
                                   title="华为手环 3 Pro">
                                    <span>华为手环 3 Pro</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥399</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086761611038.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>11880人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086010736804" data-scode="2901020009901" data-sname="华为手环 3">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086010736804.html"
                                                title="华为手环 3"><img alt="华为手环 3（珍珠黑）"
                                                                    src="{% static 'images/428_428_1552011464465mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086010736804.html"
                                   title="华为手环 3">
                                    <span>华为手环 3</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥269</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086010736804.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>6366人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086118860702" data-scode="3102150065201" data-sname="NOLO VR 交互套件(支持HUAWEI VR2)">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086118860702.html"
                                                title="NOLO VR 交互套件(支持HUAWEI VR2)"><img alt="NOLO VR 交互套件(支持HUAWEI VR2)"
                                                                                        src="{% static 'images/428_428_1551057733108mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086118860702.html"
                                   title="NOLO VR 交互套件(支持HUAWEI VR2)">
                                    <span>NOLO VR 交互套件(支持HUAWEI VR2)</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥1099</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086118860702.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>19人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086343311895" data-scode="2901010006403" data-sname="华为儿童手表 3">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086343311895.html"
                                                title="华为儿童手表 3"><img alt="华为儿童手表 3（星云粉）"
                                                                      src="{% static 'images/428_428_1554811663118mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086343311895.html"
                                   title="华为儿童手表 3">
                                    <span>华为儿童手表 3</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥398</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086343311895.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>8675人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086482881108" data-scode="2901010006002" data-sname="荣耀手表梦幻系列">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086482881108.html"
                                                title="荣耀手表梦幻系列"><img alt="荣耀手表梦幻系列（流沙杏 陶瓷版）"
                                                                      src="{% static 'images/428_428_1545443202730mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086482881108.html"
                                   title="荣耀手表梦幻系列">
                                    <span>荣耀手表梦幻系列</span>
                                    <span class="red">到手价699起 3期免息</span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥999</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086482881108.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>7990人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086568646192" data-scode="2901010005602" data-sname="荣耀小K 2 儿童手表">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086568646192.html"
                                                title="荣耀小K 2 儿童手表"><img alt="荣耀小K 2 儿童手表（甜心粉）"
                                                                         src="{% static 'images/428_428_1545200768218mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086568646192.html"
                                   title="荣耀小K 2 儿童手表">
                                    <span>荣耀小K 2 儿童手表</span>
                                    <span class="red">限时直降40</span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥259</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a href="javascript:;"
                                               onclick="ec.product.arrival(10086005675166,'2901010005602')"
                                               class="p-button-an"><span>到货通知</span></a></td>
                                        <td><label class="p-button-score"><span>8400人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086175081287" data-scode="2901020008001" data-sname="华为手环 3e 跑步精灵">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086175081287.html"
                                                title="华为手环 3e 跑步精灵"><img alt="华为手环 3e 跑步精灵（曜石黑）"
                                                                          src="{% static 'images/428_428_1554811621738mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086175081287.html"
                                   title="华为手环 3e 跑步精灵">
                                    <span>华为手环 3e 跑步精灵</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥109</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086175081287.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>5979人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086653392602" data-scode="2901010003802" data-sname="华为儿童手表 3 Pro">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086653392602.html"
                                                title="华为儿童手表 3 Pro"><img alt="华为儿童手表 3 Pro"
                                                                          src="{% static 'images/428_428_1553777154761mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086653392602.html"
                                   title="华为儿童手表 3 Pro">
                                    <span>华为儿童手表 3 Pro</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥988</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086653392602.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>15073人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086686072684" data-scode="2901020005601" data-sname="荣耀手环4">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086686072684.html"
                                                title="荣耀手环4"><img alt="荣耀手环4 标准版（陨石黑）"
                                                                   src="{% static 'images/428_428_1540628828647mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086686072684.html"
                                   title="荣耀手环4">
                                    <span>荣耀手环4</span>
                                    <span class="red">到手价169起</span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥169</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086686072684.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>96458人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="10086913521308" data-scode="2901020005801" data-sname="荣耀手环4 Running版">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086913521308.html"
                                                title="荣耀手环4 Running版"><img alt="荣耀手环4 Running版（肆意红）"
                                                                            src="{% static 'images/428_428_1564128651216mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086913521308.html"
                                   title="荣耀手环4 Running版">
                                    <span>荣耀手环4 Running版</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥89</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086913521308.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>19583人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <s class="p-tag"><img alt="荣耀手环4 Running版（肆意红）"
                                                  src="{% static 'images/Wdp2ET5YALDHWUeKjEJ2.png' %}"></s>
                        </div>
                    </li>
                    <li data-pid="10086572258093" data-scode="2901020004611" data-sname="华为手环 B5">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/10086572258093.html"
                                                title="华为手环 B5"><img alt="华为手环 B5 运动版（曜石黑）"
                                                                     src="{% static 'images/428_428_1560738808266mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/10086572258093.html"
                                   title="华为手环 B5">
                                    <span>华为手环 B5</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥999</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/10086572258093.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>26039人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                    <li data-pid="922041175" data-scode="3102170000201" data-sname="HUAWEI VR 2">
                        <div class="pro-panels">
                            <p class="p-img"><a target="_blank" href="https://www.vmall.com/product/922041175.html"
                                                title="HUAWEI VR 2"><img alt="HUAWEI VR 2 虚拟现实眼镜"
                                                                         src="{% static 'images/428_428_1542613671009mp.png' %}"></a>
                            </p>
                            <p class="p-name">
                                <a target="_blank" href="https://www.vmall.com/product/922041175.html"
                                   title="HUAWEI VR 2">
                                    <span>HUAWEI VR 2</span>
                                    <span class="red"></span>
                                </a>
                            </p>
                            <p class="p-price"><b>¥1699</b></p>
                            <div class="p-button clearfix">
                                <table colspan="0" rowspan="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td><a target="_blank" href="https://www.vmall.com/product/922041175.html"
                                               class="p-button-cart"><span>选购</span></a></td>
                                        <td><label class="p-button-score"><span>1325人评价</span></label></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <!-- 20140727-商品列表-end -->
            <!-- 分页-start -->
            <div id="list-pager-59" class="pager">
                <input id="pageTotal" value="2" type="hidden">
                <ul id="page_ul">
                    <li class="pgNext link first first-empty">|&lt;</li>
                    <li class="pgNext link pre pre-empty">&lt;</li>

                    <a id="page_1" href="https://www.vmall.com/list-59-1-3-0" title="第1页">
                        <li class="page-number link pgCurrent">1</li>
                    </a>
                    <a id="page_2" href="https://www.vmall.com/list-59-2-3-0" title="第2页">
                        <li class="page-number link">2</li>
                    </a>
                    <li class="pgNext link next">&gt;</li>
                    <li class="pgNext link last">&gt;|</li>
                    <li class="text quickPager"><select id="pageChecked">
                        <option value="1" selected="selected">1</option>
                        <option value="2">2</option>
                    </select></li>
                </ul>
            </div>
        </div><!-- 20140726-频道-列表-end -->

    </div>




{% endblock content %}